// add your specific colors

// basic
$white: rgb(255,255,255);
$black: rgb(32,32,32);

// greys
$grey--xl: rgb(235,235,235);
$grey--l: rgb(204,204,204);
$grey: rgb(153,153,153);
$grey--d: rgb(102,102,102);
$grey--xd: rgb(51,51,51);

// transparents
$white--trans--xl: rgba(255, 255, 255, 0.1);
$white--trans--l: rgba(255, 255, 255, 0.3);
$white--trans: rgba(255, 255, 255, 0.5);
$white--trans--d: rgba(255, 255, 255, 0.7);
$white--trans--xd: rgba(255, 255, 255, 0.9);
$black--trans--xl: rgba(0, 0, 0, 0.1);
$black--trans--l: rgba(0, 0, 0, 0.3);
$black--trans: rgba(0, 0, 0, 0.5);
$black--trans--d: rgba(0, 0, 0, 0.7);
$black--trans--xd: rgba(0, 0, 0, 0.9);

// glows
$glow--xs: 0 0 4px $black--trans--xl;
$glow--s: 0 0 8px $black--trans--xl;
$glow: 0 0 16px $black--trans--xl;
$glow--l: 0 0 36px $black--trans--xl;
$glow--xl: 0 0 72px $black--trans--xl;

// shadows
$shadow--xs: 0 1px 4px $black--trans--xl;
$shadow--s: 0 2px 8px $black--trans--xl;
$shadow: 0 4px 16px -2px $black--trans--xl;
$shadow--l: 0 8px 36px -4px $black--trans--xl;
$shadow--xl: 0 16px 48px -8px $black--trans--xl;

body {
  background: $white;
  color: $grey--d;
}

* {
  @include selection {
    background-color: $grey--l;
    color: $grey;
  }
}
