html {
  &.html--no-scroll {
    // Block HTML scrolling
    height: 100%;
    width: 100%;
    overflow: hidden;
    body {
      height: 100%;
      width: 100%;
    }
    main {
      // Make <main> scrolling
      overflow-y: auto;
      @include overflow-iphone;
    }
  }
  &.overflowscrolling {
    &.html--no-scroll {
      position: fixed;
    }
  }
}
