$xxxs: 320px;
$xxs: 400px;
$xs: 600px;
$s: 744px;
$m: 1000px;
$l: 1256px;
$xl: 1416px;
$xxl: 1896px;
$xxxl: 2976px;

.mobile-only {
  @media screen and (min-width: $m) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: $m) {
    display: none;
  }
}

@media print {
  * {
    color: black !important;
    font-size: 75%;
    @include box-shadow(none !important);
  }
}
