$sans: 'Helvetica', sans-serif;
$serif: 'Times New Roman', serif;
$mono: 'Space Mono', monospace;

// general
html {
  font-size: 10px;
}
body {
  font-family: $sans;
}

// type sizes
.type--xs {
  font-size: 12px;
  line-height: 1.5;
}
.type--s {
  font-size: 16px;
  line-height: 1.5;
}
.type--m {
  font-size: 24px;
  line-height: 1.5;
}
.type--l {
  font-size: 36px;
  line-height: 1.5;
}
.type--xl {
  font-size: 48px;
  line-height: 1.5;
}
