// units
$space--xxs: 6px;
$space--xs: 12px;
$space--s: 18px;
$space: 24px;
$space--l: 36px;
$space--xl: 72px;
$space--xxl: 120px;

// widths
$one--sixth: 1/6 * 100%;
$one--fifth: 1/5 * 100%;
$one--fourth: 1/4 * 100%;
$one--third: 1/3 * 100%;
$one--half: 1/2 * 100%;
$one--full: 100%;

// wrappers
.wrapper {
  @include box-sizing(border-box);
  margin: 0 auto;
}
.wrapper--s {
  @extend .wrapper;
  max-width: 320px;
}
.wrapper--m {
  @extend .wrapper;
  max-width: 640px;
}
.wrapper--l {
  @extend .wrapper;
  max-width: 960px;
}
.wrapper--xl {
  @extend .wrapper;
  max-width: 1020px;
}
.wrapper--full {
  @extend .wrapper;
  max-width: 100%;
}

// rows
.row--flex {
  @include flexbox;
}
.row--flex--spread {
  @include flexbox;
  @include justify-content(space-between);
}

// links

a {
  @include transition(color 0.2s ease);
  color: $grey--d;
  @media not all and (hover: none) {
    &:hover {
      color: $black;
    }
  }
}

// inputs
