/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6, p, span, div, li, blockquote, pre, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol > li {
  margin-left: 1.5em; }

ol > li > ol {
  list-style-type: lower-alpha; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100%; }

main {
  display: block; }

b,
strong {
  font-weight: 700; }

dfn,
cite,
em,
i {
  font-style: italic; }

address {
  font-style: italic;
  margin: 0 0 1.6em; }

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help; }

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

a {
  text-decoration: none; }

dd {
  padding-left: 2em; }

* {
  -webkit-tap-highlight-color: transparent; }

figure {
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  margin-bottom: 4em; }

*:focus {
  outline: 0; }

@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  background: white;
  color: #666666; }

* ::-moz-selection {
  background-color: #cccccc;
  color: #999999; }
* ::selection {
  background-color: #cccccc;
  color: #999999; }

@media screen and (min-width: 1000px) {
  .mobile-only {
    display: none; } }

@media screen and (max-width: 1000px) {
  .desktop-only {
    display: none; } }

@media print {
  * {
    color: black !important;
    font-size: 75%;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; } }
html {
  font-size: 10px; }

body {
  font-family: "Helvetica", sans-serif; }

.type--xs {
  font-size: 12px;
  line-height: 1.5; }

.type--s {
  font-size: 16px;
  line-height: 1.5; }

.type--m {
  font-size: 24px;
  line-height: 1.5; }

.type--l {
  font-size: 36px;
  line-height: 1.5; }

.type--xl {
  font-size: 48px;
  line-height: 1.5; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.wrapper, .wrapper--s, .wrapper--m, .wrapper--l, .wrapper--xl, .wrapper--full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }

.wrapper--s {
  max-width: 320px; }

.wrapper--m {
  max-width: 640px; }

.wrapper--l {
  max-width: 960px; }

.wrapper--xl {
  max-width: 1020px; }

.wrapper--full {
  max-width: 100%; }

.row--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.row--flex--spread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #666666; }
  @media not all and (hover: none) {
    a:hover {
      color: #202020; } }

/*# sourceMappingURL=style.css.map */
